
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                     <p>Copyright &copy; <%= link_to "Cosmetics Garden 2014", new_product_path %></p>
                </div>
            </div>
        </footer>

    </div>